.UserTable {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.UserTable table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.UserTable th,
.UserTable td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.UserTable th {
  background-color: #f4f4f4;
}

.UserTable button {
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.UserTable button:hover {
  background-color: #45a049;
}

.UserTable .add-user {
  padding: 5px 10px;
}